*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 240px auto 350px;
    grid-template-rows: 10vh auto 4vh;
}

/* HEADER */

.header {
    background: linear-gradient(to right, #1D9A78 40%, #36AFCE);
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 3vh;
}

#title {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

/* MENÚ LEFT */

.nav_left {
    background-color: #262626;
    padding: 5vh;
}

.nav_left li {
    color: #ffffff;
    text-align: center;
    padding: 2vh;
    border-top: 1px solid #ffffff;
}

.nav_left li:hover {
    background-color: #404040;
}

/* MAIN CONTENT */

.main {
    background-color: #ffffff;
}

.main > .grid-content {
    display: grid;
    margin: 8vh 4vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2vh;
}

.main > .grid-content > div {
    padding: 10vh;
}

.mat {
    grid-column: 1 / 3;
    background: linear-gradient(to right, #B74919, #F19D19);
}

.esp {
    grid-column: 3 / 4;
    background: linear-gradient(to right, #002060, #7030A0);
}

.fis {
    grid-column: 1 / 2;
    background: linear-gradient(to right, #8A0000, #CC0066);
}

.quim {
    grid-column: 2 / 4;
    background: linear-gradient(to right, #25ab87, #8BC145);
}

.soc {
    grid-column: 1 / 4;
    background: linear-gradient(to right, #002060, #00B0F0);
}

/* SIDEBAR */

.info {
    background-color: #262626;
    display: flex;
    justify-content: center;
}

.icon {
    width: 180px;
    height: 180px;
    background-color: #404040;
    border: 5px solid #ffffff;
    border-radius: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

.footer {
    background-color: #404040;
    text-align: center;
    color: #ffffff;
    grid-column: span 3;
    font-size: 2vh;
}
