*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background:#262626;
    position: relative;
}

body{ 
    padding: 90px 20px 0;
}

.header{
    background:-webkit-linear-gradient(left,#05db89,#00aeff);
    height: 4em;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
}

#barraNavegacion{
    display:flex;
    justify-content: space-between;
}

#barraNavegacion ul{
    display:flex;
    margin-right: 40px;
}

#barraNavegacion .logo{
    font-size:30px;
    font-family: arial black;
    color:black;
    margin-left: 40px;
    line-height:55px;
}

#barraNavegacion .loginItem {
    font-size: 25px;
    font-family: arial black;
    color: black;
    margin: 0 0.9em;
    line-height: 55px;
}

#barraNavegacion .loginItem::after {
    content: "";
    display: block;
    margin: 0 0.4em;
    height: 3px;
    width: 0px;
    transition: all .8s;
}

#barraNavegacion .loginItem:hover::after{
    margin:0 0.4em;
    width: 100%;
    background: #333;
}

.content{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.registre{
    background-color: #1D9A78;
    color: #ffffff;
    width: 55vh;
    height: 60vh;
    margin-top: 5vh;
    padding: 7vh;
    display: inline-block;
    z-index: 200;
}

.registre h2{
    text-align: center;
    margin: 2em 0;
    font-family:monospace;
    font-size: 2.5em;
}

.registre P{
    text-align: justify;
    font-size: 2vh;
    line-height: 3vh;
    padding: 0 3vh;
}

.login {
    background-color: #ffffff;
    width: 50vh;
    height: 48vh;
    margin-top: 5vh;
    padding: 7vh;
    display: inline-block;
    z-index: 200;
}

.login h2 {
    text-transform: uppercase;
    font-family:monospace;
    color: #009fe9;
    text-align: center;
    height: 2em;
    font-size: 5vh;
}

.login input{
    font-size: 13px;
    position:relative;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    margin-top: 1em;
    padding: 0.9em;
    left: 6vh;
}

.login button{
    background:-webkit-linear-gradient(left,#05db89,#00aeff);
    width: 65%;
    margin-top: 3vh;
    padding: 2vh;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 3.5em;
}

.login button:hover{
    background: -webkit-linear-gradient(left,#129764,#0f6d99);
    cursor: pointer;
}

.login button:active{
    width: 55%;
    text-align: center;
    position: relative;
    left: 4.5em;
}

.login a{
    display: block;
    text-align: center;
    margin-top: 3vh;
    position: relative;
    right: 0.2em;
}


