*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background:white;
    position: relative;
}

body{ 
    padding: 90px 20px 0;
}

.header{
    background:-webkit-linear-gradient(left,#05db89,#00aeff);
    height: 90px;
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#barraNavegacion{
    display:flex;
    justify-content: space-between;
}

#barraNavegacion ul{
    display:flex;
    margin-right: 40px;
}

#barraNavegacion .logo{
    font-size: 48px;
    font-weight: 30px;
    line-height: 80px;
    display:flex;
    float: left;
    justify-content: left;   
    padding: 8px;
    margin: 0;
    letter-spacing: 9px;

}
#barraNavegacion .logo a{
    color:white ;
    text-decoration: none;
    padding-left:35px;


}

#barraNavegacion .loginItem {
    font-size: 25px;
    font-family: arial black;
    color: black;
    margin: 0 0.9em;
    line-height: 55px;
}

#barraNavegacion .loginItem::after {
    content: "";
    display: block;
    margin: 0 0.4em;
    height: 3px;
    width: 0px;
    transition: all .8s;
}

#barraNavegacion .loginItem:hover::after{
    margin:0 0.4em;
    width: 100%;
    background: #333;
}

.content{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.registre{
    background-color: #1D9A78;
    color: #ffffff;
    width: 55vh;
    height: 60vh;
    margin-top: 5vh;
    padding: 7vh;
    display: inline-block;
    z-index: 200;

}

.registre h2{
    text-align: center;
    margin: 2em 0;
    font-family:monospace;
    font-size: 2.5em;
}

.registre P{
    text-align: justify;
    font-size: 2vh;
    line-height: 3vh;
    padding: 0 3vh;
}

.login {
    background-color: #ffffff;
    width: 50vh;
    height: 48vh;
    margin-top: 5vh;
    padding: 7vh;
    display: inline-block;
    z-index: 200;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.login h2 {
    text-transform: uppercase;
    font-family:monospace;
    color: #009fe9;
    text-align: center;
    height: 2em;
    font-size: 5vh;
    padding: 1px;

}
.login h4 {
    margin-top: -4px;

}

.login input{
    font-size: 13px;
    position:relative;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    width: 55%;
    height: 15px;
    margin-top: 1.8em;
    padding: 1em;
    left: 7.3vh;
}

.login button{
    background:-webkit-linear-gradient(left,#05db89,#00aeff);
    width: 45%;
    margin-top: 3vh;
    padding: 2vh;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 8.4em;
}

.login button:hover{
    background: -webkit-linear-gradient(left,#129764,#0f6d99);
    cursor: pointer;
}

.login button:active{
    width: 55%;
    text-align: center;
    position: relative;
    left: 4.5em;
}

.login a{
    display: block;
    text-align: center;
    margin-top: 3vh;
    position: relative;
    right: 0.2em;
}


