*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*HEADER*/
.header{
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: rgb(151, 229, 223);
    z-index: 10px;
    line-height: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.container{
    width: 90%;
}
.logo{
    font-size: 48px;
    font-weight: 30px;
    line-height: 80px;
    display:flex;
    float: left;
    justify-content: left;   
    padding: 8px;
    margin: 0;
    letter-spacing: 9px;
}
.logo a{
    color:white ;
    text-decoration: none;

}
.iniciarboton {
    display: inline-block;
    padding: 13px 0px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    border: 2px solid#FF3B3F;
    border-radius: 70px;
    background:white;

}
.iniciarboton b{
    color: grey;
}

.menu{
    float: right;
    padding: 30px ;
    height: 50px;
    text-shadow: 0px 0px 1px;
  
}

html{
    scroll-behavior: smooth;
}


section{
    height: 818px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    align-items: center;
    text-align: center;
}
    
section:nth-child(2){
    background-color: rgb(151, 229, 223);
    
} 
   

section h2{
    font-size: 70px;
    font-weight: 300;
    text-align: center;
}
section p{
    font-weight: 300;
    margin-bottom: 10px;
    padding-top: 10px;
}
section a{
    display: inline-block;
    padding: 8px 0px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    border: 2px solid#FF3B3F;
    border-radius: 70px;
    background: white;
    
}

.footer{
    width: 100%;
    height: 100px;
    background: rgb(151, 229, 223);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 40px;
    color: grey;
    text-align: center;
    justify-content: center;
}

.bottom{
    background: rgb(119, 218, 216);
    width: 100%;
    padding: 12px 0;
    text-align: center;

}
.bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}
.bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;

}

/*CAJAS*/
.main{
    width: 100%;
    /*max-width: 1200px; */
    margin: auto;
}
.container-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}
.box{
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 10px;
    border: 2px solid gray;
    text-align: center;
    border-radius: 25px;

}
.box img{
    width: 60%;

}
.box h4{
    font-size: 18px;
    margin-top: 10px;
}
.box p{
    font-size: 12px;
    color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* EFECTO HOVER CJAS*/
.box:hover{
    background:blue;

}
.box:hover img{
    transform: translateY(-80px);
}
.box:hover h4{
    transform: translateY(-90px);
}
.box:hover p{
    transform: translateY(-90px);
}




/* RESPONSIVE*/
@media  screen (max-width:){
    
}