*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 90%;
}
/*HEADER*/
.header{
    background:-webkit-linear-gradient(left,#6febbc,#00aeff);
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    z-index: 10px;
    line-height: 5px;
}

.trianguloDec{
    
    margin-top:auto;
    width: 0;
    height: 0;
    border-right: 43px solid transparent;
    border-top: 43px solid #ffff56;
    border-left: 43px solid #ffff56;
    border-bottom: 45px solid transparent;
}
.trianguloIzq{
    margin-top: auto;
    width: 0;
    height: 0;
    border-right: 66px solid transparent;
    border-top: 1.5px solid #ffc340;
    border-left: 52px solid #ffc340;
    border-bottom: 51px solid transparent;
    transform: rotate(46deg);
    left: -0.14rem;
    position: relative;
}


section{
    height: 820px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    align-items: center;
    text-align: center;
}
    
section:nth-child(2){
    background:-webkit-linear-gradient(left,#6febbc,#00aeff);
    
} 
section v{
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    top: -18rem;
    position: relative;
    left: 28rem;
}
section p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    top: -3rem;
}
section a{
    display: inline-block;
    padding: 8px 0px;
    text-decoration: none;
    text-align: center;
    width: 170px;
    height: 40px;
    border: 2px solid#ffc340;
    border-radius: 70px;
    background: #ffff56;
    
}
section b{
    font-weight: 30px;
    line-height: 90px;
    font-size: 95px;
    color:white ;
    padding-left:70px;
    letter-spacing:4px;
    position: relative;
    top: -10rem;
    right: 13rem;

}
section z{
    position: relative;
    font-size: 65px;
    padding: 3.9px;
    color: rgb(241, 255, 85);
    top: -10rem;
    right: 12rem;

}
img{
    width: 100px;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 100px;
    background:-webkit-linear-gradient(left,#6febbc,#00aeff);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 6rem;
    color: rgb(255, 233, 233);
    text-align: center;
    justify-content: center;
}
.footer h4{
    margin-top: -4rem;

}

.bottom{
    background:-webkit-linear-gradient(left,#6febbc,#00aeff);
    width: 100%;
    padding: 12px 0;
    text-align: center;

}
.bottom p{
    color: rgb(235, 232, 232);
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}
.bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;

}



