*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Bahnschrift SemiLight,Avenir Next LT Pro Light,EZ;
}

.contGeneral{
    width:100%;
    height:100%;
    background:-webkit-linear-gradient(left,#05db89,#00aeff);
}
.logo{
    width:8%;
    height:auto
}